<div class="navbar">
	<a href='/' class="navbar-logo">
		<img src="/img/login-page-image.png" alt="Logo" width="50px" />
		<span>Nomicron</span>
	</a>
	<a href='/cart' class="cart">
		<span>Giỏ hàng</span>
	</a>
	<a class="logOutButton" href="/logout">Đăng xuất</a>
</div>