<div class="container w-screen max-w-full">
	<div class="w-[920px] mx-auto flex flex-col pt-10">
		<!-- Banner -->
		<div id="banner">
			<img src="https://picsum.photos/720/400" class="w-full h-[200px] object-cover object-center" />
		</div>

		<!-- Navigation Shortcuts -->
		<div class="grid grid-cols-4 gap-10 py-5">
			<div class="block bg-white shadow-md hover:shadow-lg rounded-md overflow-hidden">
				<a href="/profile">
					<div class="m-4">
						<img class="h-[24px] w-[24px] rounded" src="/icons/User.png" alt="icon" />

						<h5 class="tracking-widest text-indigo-500 text-xs font-medium pt-2">
							Tài khoản của tôi
						</h5>

					</div>
				</a>
			</div>
			<div class="block bg-white shadow-md hover:shadow-lg rounded-md overflow-hidden">
				<a href="/products">
					<div class="m-4">
						<img class="h-[24px] w-[24px]" src="/icons/Shopping-bag.png" alt="icon" />

						<h5 class="tracking-widest text-indigo-500 text-xs font-medium pt-2">
							Nhu yếu phẩm
						</h5>

					</div>
				</a>
			</div>
			<div class="block bg-white shadow-md hover:shadow-lg rounded-md overflow-hidden">
				<a href="/packs">
					<div class="m-4">
						<img class="h-[24px] w-[24px]" src="/icons/Shopping-bag.png" alt="icon" />

						<h5 class="tracking-widest text-indigo-500 text-xs font-medium pt-2">
							Gói nhu yếu phẩm
						</h5>

					</div>
				</a>
			</div>

			<div class="block bg-white shadow-md hover:shadow-lg rounded-md overflow-hidden">
				<a href="/orders">
					<div class="m-4">
						<img class="h-[24px] w-[24px]" src="/icons/Shopping-bag.png" alt="icon" />

						<h5 class="tracking-widest text-indigo-500 text-xs font-medium pt-2">
							Đơn mua
						</h5>

					</div>
				</a>
			</div>
		</div>

		<!-- Products -->
		<div class="flex justify-between w-full pt-5">
			<div class="flex invisible">

				<p class="font-medium h-max text-base">
					Xem tất cả</p>

				<img class="h-[24px] w-[24px]" src="/icons/Caret right.png" alt="icon" />

			</div>
		</div>
		
	</div>
</div>