.login-container{
  position: relative;
  width: 100vw;
  min-height: 90vh;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.login-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-label{
  position: relative;
  display: block;
  margin-block-end: 15px;

  font-size: 18px;
}

.form-input-text{
  width: 300px;
  height: 35px;
  padding-inline-start: 10px;
  margin-block-start: 5px;

  border-radius: 5px;
  border: 1px solid lightgray;
}

.form-input-text:focus{
  outline: none;
}

.show-password{
  position: absolute;
  top: 35px;
  right: 10px;

  color: var(--themeColor);
  text-decoration: underline;

  cursor: pointer;
}