<div class="login-container">

  <div class="login-card">
    <img src="img/login-page-image.png" alt="Cartoon drawing of a bear fighting the virus" class="login-image" width="250px"/>
    <div class="page-title">Nomicron</div>

    <form name="login" style="position: relative">
      <label class="form-label" for="phone_number">Số điện thoại<br/>
        <input id="phone_number" type="tel" class="form-input-text"/>
      </label> 
       <label class="form-label" for="password">Mật khẩu<br/>
        <input id="password" type="password" class="form-input-text"/>
        <span class="show-password" onclick="TogglePassword(this)">Hiện</span>
      </label>
      <a href="/" style="display: block; float: inline-end; margin-block-start: 10px; margin-block-end: 10px">Quên mật khẩu?</a>
      <button type="button" style="width: 100%; font-size: 15px" onclick="LogIn()">Đăng nhập</button>
    </form>
  </div>

</div>
