<div class="login-container">

  <div class="login-card">
    <img src="/img/login-page-image.png" alt="Cartoon drawing of a bear fighting the virus" class="login-image" width="250px"/>
    <div class="page-title">Nomicron</div>

    <form name="login" style="position: relative" action="/login" method="POST">
      <label class="form-label" for="phone_number">Số điện thoại<br/>
        <input name="phone_number" id="phone_number" type="tel" class="form-input-text"/>
      </label> 
       <label class="form-label" for="password">Mật khẩu<br/>
        <input name="password" id="password" type="password" class="form-input-text"/>
        <span class="show-password" onclick="TogglePassword(this)">Hiện</span>
      </label>
      <a href="/" style="display: block; float: inline-end; margin-block-start: 10px; margin-block-end: 10px">Quên mật khẩu?</a>
      <button class="bg-violet-500 hover:bg-violet-400 text-white py-2 px-4 rounded" type="submit" style="width: 100%; font-size: 15px">Đăng nhập</button>
    </form>

      {{#if error}}
    <div class="error">
        {{ error}}
    </div>
      {{/if}}

  </div>

</div>
