<div class="container">
  <div class="profile-container">

    <form class="profile-card" action='/admin/areas/add' method="POST">
      <input id="occupated" name="occupated" value="0" type="hidden" value="0" />
      <input id=" areaname" name="areaname" class="page-title" type="text" placeholder="Tên khu cách ly"
        value=""></input>

      <p>Sức chứa: <input id="capacity" name="capacity" value="0" type="number" />
      <p for="quarantinearea">Thành phố:
        <select id="country" name="countryid"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" onchange="changeCountry(this.value)">
          {{#each country}}
          <option value="{{countryid}}">{{countryname}}</option>
          {{/each}}
        </select>
      </p>

      <p for="quarantinearea">Quận/huyện:
        <select id="district" name="districtid"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" onchange="changeDistrict(this.value)">
        </select>
      </p>

      <p for="quarantinearea">Quận/huyện:
        <select id="ward" name="wardid"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </select>
      </p>
      <br />
      <button class="bg-violet-500 hover:bg-violet-400 text-white py-2 px-4 rounded" type="submit">Thêm</button>
    </form>
  </div>
</div>

{{>(editScript)}}