
<div class="container">
  <div class="profile-container">

    <form class="profile-card">
      <img src="/icons/User-avatar.png" alt="User avatar" class="avatar-image" width="200px"/>
      <input id="name" class="page-title" type="text" value="{{userFullname}}"></input>
      <p>Ngày sinh: <input id="dob" type="date" value="{{userDoB}}" /></p>
      <p>Địa chỉ: <input id="address" type="text" value="{{userAddress}}"/></p>
    <br/>
    <button class="bg-violet-500 hover:bg-violet-400 text-white py-2 px-4 rounded" type="button" onclick="editProfile()">Lưu thông tin</button>
    </form>

  </div>
</div>
