
<div class="container">
  <div class="profile-container">

    <div class="profile-card">
      <img src="/icons/User-avatar.png" alt="User avatar" class="avatar-image" width="250px"/>
      <div class="page-title">{{userFullname}}</div>

      <p>Ngày sinh: {{userDoB}}</p>
      <p>Số điện thoại: {{userPhoneNumber}}</p>
      <p>Địa chỉ: {{userAddress}}</p>
    <br/>
    <a class="bg-violet-500 hover:bg-violet-400 text-white py-2 px-4 rounded" href="/profile/edit">Chỉnh sửa thông tin</a>
    <br/>
    <a class="bg-violet-500 hover:bg-violet-400 text-white py-2 px-4 rounded mt-5" href="/login/resetpassword">Chỉnh sửa mật khẩu</a>
    </div>

  </div>
</div>
